html {
    height: 100%;
}

body {
    position: relative;
    font-family: "Open Sans";
    background: #E0E0E0;
    height: 100%;
}

.footer {
    width: 100%
}

.content-wrapper {
    background-color: #FFFFFF;
    padding: 5px;
}

.chosen-container-single .chosen-single {
    background: none;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background: none;
}

.chosen-container .chosen-drop {
    box-shadow: none;
}

.center-block {
    float: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
}

.control-panel-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    pointer-events: none;
    z-index: 1;
    padding: 15px;
}

.control-panel-overlay > * {
    opacity: 1.0;
    pointer-events: all;
    border-radius: 3px;
}

.dropdown-container {
    padding: 10px;
}

.error-container {
    color: #ff0000;
}

.map-container {
	/*width: 800px;*/
    width: 100%;
	height: 100%;
}
