html {
    height: 100%;
	overflow: hidden;
}

body {
    position: relative;
    font-family: "Open Sans";
    background: #E0E0E0;
    height: 100%;
    width: 100%;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.content-wrapper {
    background-color: #FFFFFF;
}

.chosen-container-single .chosen-single {
    background: none;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background: none;
}

.chosen-container .chosen-drop {
    box-shadow: none;
}

.with-shadow {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.app-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.loading-screen-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: inherit;
}

.loading-screen-splash {
    display: inline-block;
    position: relative;

    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    padding: 20px;
    vertical-align: middle;
}

.control-panel-overlay {
    position: absolute;
    top: 0px;
	right: 0px;
    pointer-events: none;
    z-index: 1;
	padding: 0px 15px 15px;
}

.control-panel-overlay > * {
    opacity: 1.0;
    pointer-events: all;
    border-radius: 0px 0px 3px 3px;
}

.bottom-plot-overlay {
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0px;
	padding: 0px 50px 0px 50px;
    z-index: 10;
	opacity: 0.0;
	pointer-events: none;
}

.bottom-plot-overlay > * {
	opacity: 1.0;
	pointer-events: all;
	border-radius: 3px 3px 0px 0px;
}

.bottom-timeplot-container {
	position: absolute;
	height: 200px;
	padding: 20px;
	left: 10px;
	right: 50px;
	bottom: -250px;

    background-color: #FFFFFF;
	border-radius: 3px;
}

.flot-container {
	position: static;
	width: 100%;
	height: 100%;
}

.dropdown-container {
    padding: 10px;
}

.error-container {
    color: #ff0000;
}

.map-container {
	/*width: 800px;*/
    position: absolute;
    width: 100%;
	height: 100%;
}
