<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chosen.jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datavis.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.axislabels.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/hashids.min.js') }}"></script>

        <script type="text/javascript">
            var filterID = "{{ filter_id }}";
            var mapURL = "{{ config['map_url'] }}";
            var mapAttribution = "{{ config['map_attrib'] }}";
        </script>
        <title>Data Visualizer</title>
    </head>
    <body>
        <div style="height: 100%; width: 100%; position: absolute">
            <div id="map-viewport" class="map-container">
            </div>
        </div>
        <div class="control-panel-overlay">
            <div class="content-wrapper with-shadow">
                <div style="width: 100%">
                    <div class="row" id="filter-container" style="padding-bottom: 0px; display: none">
                        <div class="col-md-3 dropdown-container">
                            <div>
                                <label for="dropdown-trip">Trip</label><br>
                                <select class="chosen-select" id="dropdown-trip" style="width: 100%">
                                    <option value="" disabled selected>Choose One</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dropdown-container">
                            <div>
                                <label for="dropdown-date">Date</label><br>
                                <select class="chosen-select" id="dropdown-date" style="width: 100%" disabled>
                                    <option value="" disabled selected>Choose One</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dropdown-container">
                            <div>
                                <label for="dropdown-place">Place</label><br>
                                <select class="chosen-select" id="dropdown-place" style="width: 100%" disabled>
                                    <option value="" disabled selected>Choose One</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dropdown-container">
                            <div>
                                <label for="dropdown-sample-type">Sample Type</label><br>
                                <select class="chosen-select" id="dropdown-sample-type" style="width: 100%" disabled>
                                    <option value="" disabled selected>Choose One</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px">
                            <button class="btn btn-primary pull-right" id="btn-load-data">Load Data</button>
                        </div>
                    </div>
                    <div class="row" id="button-container" style="padding: 10px; display: none">
                        <a id="filter-link" href="#">Permalink</a>
                        <button id="btn-show-filter-select" class="btn btn-default" style="margin-right: 10px; margin-left: 10px">Select Filter</button>
                        <a id="btn-csv-download" class="btn btn-primary pull-right disabled" href="#">Download CSV</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="timeplot-container" class="bottom-timeplot-container with-shadow">
        </div>
    </body>
</html>
