<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/chosen.jquery.js') }}"></script>
		<script src="https://maps.google.com/maps/api/js"></script>
		<script src="{{ url_for('static', filename='js/datavis.js') }}"></script>
        <title>Data Visualizer</title>
	</head>
	<body>
        <div style="height: 100%; width: 100%; position: absolute">
			<div id="map-viewport" class="map-container">
			</div>
        </div>
        <div class="control-panel-overlay">
            <div class="center-block content-wrapper">
                <div style="width: 100%">
					<div class="row">
						<div class="col-md-3 dropdown-container">
							<div>
								<label for="dropdown-dataset">Dataset</label><br>
								<select class="chosen-select" id="dropdown-dataset" style="width: 100%">
									<option value="" disabled selected>Choose One</option>
								</select>
							</div>
						</div>
						<div class="col-md-3 dropdown-container">
							<div>
								<label for="chosen-single chosen-default">Date</label><br>
								<select class="chosen-select" id="dropdown-date" style="width: 100%" disabled>
									<option value="" disabled selected>Choose One</option>
								</select>
							</div>
						</div>
						<div class="col-md-3 dropdown-container">
							<div>
								<label for="dropdown-place">Place</label><br>
								<select class="chosen-select" id="dropdown-place" style="width: 100%" disabled>
									<option value="" disabled selected>Choose One</option>
								</select>
							</div>
						</div>
						<div class="col-md-3 dropdown-container">
							<div>
								<label for="dropdown-sample-type">Sample Type</label><br>
								<select class="chosen-select" id="dropdown-sample-type" style="width: 100%" disabled>
									<option value="" disabled selected>Choose One</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row" style="padding: 0px 10px 10px 10px	">
						<a id="btn-csv-download" class="btn btn-primary pull-right disabled" href="#">Download CSV</a>
					</div>	
				</div>
            </div>
        </div>
		<script type="text/javascript">mapInit();</script>
    </body>
</html>
